<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description"
        content="We can develop website, personalize software for small business with and Graphic elements (Video, Posters etc). We are a small team available in Jharsuguda to help small business to boost their sales throug online">
    <title>mtechno.in Jharsuguda, Odisha, India best (website, software and graphic designing)</title>
    <link rel="icon" href="/assests/favicon.png" type="image/png" sizes="16x16">
    <link rel="stylesheet" href="/css/index.css" type="text/css">
    <link rel="apple-touch-icon" href="./assests/Thumbnail.png">
    <meta property="og:title" content="Web Developer available at Jharsuguda, Bolangir, Bargarh, Sambalpur, Sundargarh">
    <meta property="og:url" content="www.mtechno.in">
    <meta property="og:description"
        content="We can develop website, personalize software for small business with. We are a small team available in Jharsuguda to help small business to boost their sales throug online">
    <meta property="og:image" content="https://mtechno.in/assests/Thumbnail.png">
    <meta name="p:domain_verify" content="497641179a4c10db9ca51b4e3a33d0f4" />
    <script defer src="/js/app.js"></script>
</head>

<body>
    <div class="container">
        <nav class="nav-desktop">
            <div class="top-row">
                <div class="logo" onclick="location.href='/'">

                    <img src="/assests/Transparent_Logo.png" alt="mtechno.in logo">
                    <span>mtechno.in</span>

                </div>
                <div class="link-list">
                    <ul>
                        <li><a class="<%= data.active=='home'?'active':'' %>" href="/">HOME</a></li>
                        <li><a class="<%= data.active=='bio'?'active':'' %>" href="/bio">BIO</a></li>
                        <li><a class="<%= data.active=='contact'?'active':'' %>" href="/contact">CONTACT</a></li>
                    </ul>
                </div>
            </div>

        </nav>

       
        <nav class="nav-mobile">
            <div class="top-row-mobile">
                <a href="/">
                    <div class="ballon <%= data.active=='home'?'active':'' %>">Home</div>
                </a>
                <a href="/bio">
                    <div class="ballon <%= data.active=='bio'?'active':'' %>">Bio</div>
                </a>
                <a href="/contact">
                    <div class="ballon <%= data.active=='contact'?'active':'' %>">Contact</div>
                </a>
            </div>
            <div class="mobile-logo" onclick="bringfront(this)">
                <div class="mobile-logo-container">
                    <img src="/assests/Transparent_Logo.png" alt="mtechno.in logo">
                    <span>mtechno.in</span>
                </div>
            </div>
        </nav>
        <div class="container-inside">
            <%- body %>
        </div>
        <footer>        
            <div class="left-footer">
                <span class="find-me">Find me on:</span>
                <span><a href="https://www.facebook.com/mtechno.in/" class="social-link">
                    <svg xmlns="http://www.w3.org/2000/svg" class="icon" viewBox="0 0 24 24">
                        <path d="M12 2.03998C6.5 2.03998 2 6.52998 2 12.06C2 17.06 5.66 21.21 10.44 21.96V14.96H7.9V12.06H10.44V9.84998C10.44 7.33998 11.93 5.95998 14.22 5.95998C15.31 5.95998 16.45 6.14998 16.45 6.14998V8.61998H15.19C13.95 8.61998 13.56 9.38998 13.56 10.18V12.06H16.34L15.89 14.96H13.56V21.96C15.9164 21.5878 18.0622 20.3855 19.6099 18.57C21.1576 16.7546 22.0054 14.4456 22 12.06C22 6.52998 17.5 2.03998 12 2.03998Z"/>
                        </svg>
                    Facebook</a></span>
                <span><a href="https://www.instagram.com/monty3366/" class="social-link">
                    <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" class="icon" version="1.1" id="Layer_1" viewBox="-143 145 512 512" xml:space="preserve">
                        <g>
                            <path d="M113,446c24.8,0,45.1-20.2,45.1-45.1c0-9.8-3.2-18.9-8.5-26.3c-8.2-11.3-21.5-18.8-36.5-18.8s-28.3,7.4-36.5,18.8   c-5.3,7.4-8.5,16.5-8.5,26.3C68,425.8,88.2,446,113,446z"/>
                            <polygon points="211.4,345.9 211.4,308.1 211.4,302.5 205.8,302.5 168,302.6 168.2,346  "/>
                            <path d="M183,401c0,38.6-31.4,70-70,70c-38.6,0-70-31.4-70-70c0-9.3,1.9-18.2,5.2-26.3H10v104.8C10,493,21,504,34.5,504h157   c13.5,0,24.5-11,24.5-24.5V374.7h-38.2C181.2,382.8,183,391.7,183,401z"/>
                            <path d="M113,145c-141.4,0-256,114.6-256,256s114.6,256,256,256s256-114.6,256-256S254.4,145,113,145z M241,374.7v104.8   c0,27.3-22.2,49.5-49.5,49.5h-157C7.2,529-15,506.8-15,479.5V374.7v-52.3c0-27.3,22.2-49.5,49.5-49.5h157   c27.3,0,49.5,22.2,49.5,49.5V374.7z"/>
                        </g>
                        </svg>
                    Instagram</a></span>
                <span><a href="https://www.upwork.com/freelancers/~01341d55d2b8505b14" class="social-link">
                    <svg xmlns="http://www.w3.org/2000/svg" class="icon" viewBox="0 0 24 24" role="img"><title>Upwork icon</title><path d="M18.561 13.158c-1.102 0-2.135-.467-3.074-1.227l.228-1.076.008-.042c.207-1.143.849-3.06 2.839-3.06 1.492 0 2.703 1.212 2.703 2.703-.001 1.489-1.212 2.702-2.704 2.702zm0-8.14c-2.539 0-4.51 1.649-5.31 4.366-1.22-1.834-2.148-4.036-2.687-5.892H7.828v7.112c-.002 1.406-1.141 2.546-2.547 2.548-1.405-.002-2.543-1.143-2.545-2.548V3.492H0v7.112c0 2.914 2.37 5.303 5.281 5.303 2.913 0 5.283-2.389 5.283-5.303v-1.19c.529 1.107 1.182 2.229 1.974 3.221l-1.673 7.873h2.797l1.213-5.71c1.063.679 2.285 1.109 3.686 1.109 3 0 5.439-2.452 5.439-5.45 0-3-2.439-5.439-5.439-5.439z"/></svg>
                    Upwork</a></span>
                <span><a href="https://www.freelancer.com/u/MalayaManjula2" class="social-link">
                    <svg xmlns="http://www.w3.org/2000/svg" class="icon" viewBox="0 0 24 24" role="img"><title>Freelancer icon</title><path d="M14.096 3.076l1.634 2.292L24 3.076M5.503 20.924l4.474-4.374-2.692-2.89m6.133-10.584L11.027 5.23l4.022.15M4.124 3.077l.857 1.76 4.734.294m-3.058 7.072l3.497-6.522L0 5.13m7.064 7.485l3.303 3.548 3.643-3.57 1.13-6.652-4.439-.228Z"/></svg>
                    Freelancer</a></span>
                <span><a href="https://www.fiverr.com/mtechno_bharat" class="social-link">
                    <svg xmlns="http://www.w3.org/2000/svg"class="icon" viewBox="0 0 24 24" role="img"><title>Fiverr icon</title><path d="M13.639,11.928h-0.954c0.06-0.258,0.216-0.492,0.534-0.492C13.465,11.436,13.639,11.664,13.639,11.928z M24.001,12 c0,6.627-5.373,12-12,12s-12-5.373-12-12s5.373-12,12-12S24.001,5.373,24.001,12z M6.217,9.78c0,0.298,0.242,0.54,0.54,0.54 c0.298,0,0.54-0.242,0.54-0.54s-0.242-0.54-0.54-0.54C6.459,9.24,6.217,9.482,6.217,9.78z M7.735,13.2h-0.42v-2.526H4.849v-0.162 c0-0.318,0.318-0.324,0.48-0.324c0.186,0,0.27,0.018,0.27,0.018V9.33c0,0-0.168-0.024-0.396-0.024c-0.516,0-1.47,0.144-1.47,1.236 v0.138h-0.45v0.81h0.45v1.71h-0.42v0.81h2.028V13.2H4.849v-1.71h1.35v1.71h-0.42v0.81h1.956V13.2z M11.149,11.484h0.372v-0.81 h-1.77v0.81h0.3l-0.384,1.2c-0.072,0.198-0.09,0.438-0.09,0.438H9.553c0,0-0.018-0.24-0.09-0.438l-0.384-1.2h0.3v-0.81h-1.77v0.81 h0.372l0.924,2.52h1.32L11.149,11.484z M14.797,12.204c0-0.924-0.558-1.608-1.548-1.608c-1.074,0-1.734,0.762-1.734,1.74 c0,0.888,0.642,1.746,1.83,1.746c0.9,0,1.434-0.468,1.434-0.468l-0.408-0.774c0,0-0.444,0.318-0.936,0.318 c-0.354,0-0.69-0.186-0.774-0.612h2.112C14.767,12.54,14.797,12.312,14.797,12.204L14.797,12.204z M17.773,10.632 c0,0-0.066-0.012-0.132-0.012c-0.51-0.006-0.93,0.366-1.068,0.822v0h-0.012c0,0,0.012-0.066,0.012-0.168V11.1 c0-0.306-0.168-0.426-0.474-0.426h-1.05v0.81h0.312c0.09,0,0.144,0.054,0.144,0.144V13.2h-0.45v0.81h2.022V13.2h-0.45v-0.486 c0-0.606,0.3-1.002,0.918-1.002c0.138,0,0.228,0.018,0.228,0.018V10.632z M20.731,11.73v-1.098c0,0-0.066-0.012-0.132-0.012 c-0.504-0.006-0.924,0.366-1.068,0.822v0h-0.012c0,0,0.012-0.066,0.012-0.168V11.1c0-0.306-0.168-0.426-0.474-0.426h-1.05v0.81 h0.312c0.09,0,0.144,0.054,0.144,0.144V13.2h-0.45v0.81h2.022V13.2h-0.45v-0.486c0-0.606,0.3-1.002,0.918-1.002 C20.641,11.712,20.731,11.73,20.731,11.73z"/></svg>
                    Fiverr</a></span>
            </div>
            <div class="right-footer">
                <a href="https://maps.app.goo.gl/sEGyzMpHbBERULEv6">
                    <img src="/assests/map1.png" alt="map-icon Jharsuguda Odisha" width="300px"> 
                </a>
            </div>
        </footer>
    </div>
   
</body>
</html>